#top{
    position: absolute;
    left: 20%;

    background-color: aqua;
    border-style: solid;
    color: blue;
    width: 50%;
    /* margin-left: 25%;
    padding-left: 25%; */
}
#bottom{
    background-color: chartreuse;
    color: crimson;
    border: solid blue;
    position: absolute;
    top: 50%;
    width: 50%;
    margin-left: 20%;
     /* margin-top: 50%;
    padding-left: 25%; */
} 
h2{
    font-family: 'Londrina Solid';
}