h1{
    text-align: center;
    position: absolute;
    top: 7%;
    left: 34%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{ 
    position: absolute;
    left: 41%;
}
#first input[type= "password"]{
    position: absolute;
    top: 38%;
    height: 8%;
}
#first input{
    position: absolute;
    top: 14%;
    width: 80%;
    margin-left: 5%; 
    height: 8%;
}

#first{
    width: 30%;
    height: 50%;
    position: absolute;
    left: 33%;
    top: 23%;
    background-color: rgb(220, 229, 230);
    border: solid steelblue 2px;
    /* padding-left: 3%;
    padding-right: 3%; */
}
#first label{
     margin-left: 8%;
}
button{
    position: absolute;
    top: 64%;
    background-color: green;
    width: 65%;
    height: 18%;
    margin-left: 14%;
}
#second{
    position: absolute;
    left: 33%;
    top: 80%;
    border: solid black 2px;
    padding-left: 3%;
    padding-right: 3%;
    width: 24%;
}
#third{ 
    position: absolute;
    left: 36%;
    top: 110%;
}