header{
    width:"70%";
    color:crimson;
background-color: rgb(46, 173, 173);
}
#kx{
    width:50%;
    background-color: darkred;
    border: darkblue 3px;
}
#mi{
    width:50%;
    background-color: rgb(52, 131, 235);;
    border: 2px solid crimson;
}
#mid{
    text-decoration: underline;
    text-align: center;
}
.cls{
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}