h1{
    font-family: Londrina Solid;
    text-align: center;
}
#blck1{
    background-color: navy;
    width: 18%;
    height: 75%;
    position: absolute;
    left: 3%;
}
#blck2{
    background-color: green;
    width: 18%;
    height: 75%;
    position: absolute;
    left: 23%;
}
#blck3{
    background-color: yellow;
    height: 75%;
    width: 18%;
    position:absolute;
    left: 43%;
}
#blck4{
    background-color: red;
    height: 75%;
    width: 18%;
    position: absolute;
    left: 63%;
}
#blck5{
    background-color:skyblue;
    height: 75%;
    width: 18%;
    position: absolute;
    left: 83%;
}